<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>palestra</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <header> 
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" id="red" href="#">Perfect body!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="Home">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" id="red" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="red" href="#">Chi siamo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="red" href="#">Abbonamenti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="red">Orari e contatti</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <main>
        <div id="app"></div>
        
        <input type="text" v-model="newtask">
        <button @click="addTask">Aggiungi</button>
        <ul>
            <li v-for="(text, index) in lista" 
            :key="index">
            <p>{{text.testo[index]}}</p>
            </li>
            <button>Cancella</button>
        </ul>
    </main>
</body>
<script src="./script.js" type="module"></script>
</html>